.navigation-wrapper,
.nav-background {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.5s;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0px;
  position: relative;
  margin-top: 5px;
}

.nav-hide {
  transform: translateY(-100%);
}

.nav-scrolled {
  background: white;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-name img {
  height: 32px;
  object-fit: contain;
  width: 150px;
}

.logo-name:hover {
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 0px;
}

.hamburger {
  width: 30px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
  z-index: 999;
  margin-top: 1px;
  padding: 10px;
 
  
}

.hamburger:hover .bar {
  background-color: #6c63ff;
}

.bar {
  height: 4px;
  background-color: #212121;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.4s ease;
  display: block;
  margin-top: 5px;
}

.bar.top {
  width: 100%;
}

.bar.middle {
  width: 60%;
}

.nav-open .top {
  transform: translateY(9px) rotate(45deg);
  width: 100%;
}

.nav-open .middle {
  transform: translateY(-2px) rotate(-45deg);
  width: 100%;
}

.nav-links li {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.nav-link {
  transition: all 0.3s ease;
}

.nav-link-a {
  font-size: 1em !important;
  transition: 0.3s color !important;
}

.nav-link-a:hover {
  color: #6c63ff !important;
}

.nav-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 280px;
  background: white;
  box-shadow: -2px 0 30px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease;
  z-index: 998;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.nav-overlay.open {
  right: 0;
}

.nav-overlay .nav-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.fa-times {
  color: white;
  font-size: 1.5em;
  float: right;
}

.fa-times:hover {
  cursor: pointer;
  opacity: 0.6;
}

.slide-up {
  transform: translateY(-30px);
}

.menu-button,
.contact-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none !important;
  transition: all 0.5s ease;
  background: linear-gradient(
    140deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  background: -moz-linear-gradient(
    140deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  background: -webkit-linear-gradient(
    140deg,
    hsla(280, 84%, 41%, 1) 0%,
    hsla(218, 97%, 56%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#8711C1",
    endColorstr="#2472FC",
    GradientType=1
  );
  color: white;
  font-size: 0.9em !important;
}

.menu-button h2 {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 20px;
  color: white !important;
}

.contact-button {
  margin-right: -10px;
  padding: 8px 30px; /* slightly less vertical padding */
  align-self: center; /* force vertical centering in flex */
}

.switch,
.switch-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 24px;
  padding: 0 6px;
  position: relative;
}

.switch-desktop {
  margin-right: -30px;
}

.switch-mobile {
  display: none;
}

.switch:hover {
  cursor: pointer;
}

.switch .icon-left,
.switch .icon-right {
  font-size: 0.9rem;
  color: #888;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider-mobile {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.slider::before,
.slider-mobile::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

input:checked + .slider::before,
input:checked + .slider-mobile::before {
  transform: translateX(20px);
}

.switch .icon-left,
.switch .icon-right,
.switch-mobile .icon-left,
.switch-mobile .icon-right {
  font-size: 1rem;
  color: #888;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin: 0px 0px 0px 5px;
}

.icon-left-mobile,
.icon-right-mobile {
  display: inline !important;
  position: relative;
  top: 2px;
}

body:not(.dark-mode) .icon-right {
  color: #ffa500;
  text-shadow: 0 0 6px #ffa500;
}
